:host {
  display: block;
  font-family: sans-serif;
  border: 2px solid var(--color-primary, purple);
  margin: 2rem;
  padding: 1rem;
}

form {
 text-align: center;
 display: flex;
}

form input {
  font: inherit;
  color: purple;
  padding: 0.1rem 0.25rem;
  display: block;
  width: 80%;
  margin-bottom: 0.1rem;
}

form input:focus {
  outline: none;
}

form button {
  font: inherit;
  margin-left: 0.5rem;
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--color-primary, purple);
  background: var(--color-primary, purple);
  color: white;
  cursor: pointer;
}

form button:hover,
form button:active {
  background: #d414d4;
  border-color: var(--color-primary, purple);
}

form button:disabled {
  background: lightgray;
  border-color: lightgray;
  color: white;
  cursor: not-allowed;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0.25rem 0;
  padding: 0.25rem;
  border: 1px solid #ccc;
  cursor: pointer;
}

li:hover,
li:active {
  background: #3b0130;
  color: white;
}
